button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.8rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  border-radius: 100px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--hover-primary-color);
}

button.small {
  padding: 0.9rem 1.8rem;
  font-size: 1.3rem;
}

button.secondary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

button.secondary:hover {
  background-color: var(--hover-secondary-color);
}

button.danger {
  background-color: var(--danger-color);
}

button.danger:hover {
  background-color: var(--hover-danger-color);
}
