<form *ngIf="task" [formGroup]="taskForm">
  <div
    *ngIf="task.subtasks.length > 0"
    class="checkbox-container"
    formArrayName="subtasks"
  >
    <h5>Subtasks ({{ completedTasks }} of {{ subtasks.length }})</h5>
    <label
      [formGroupName]="i"
      *ngFor="let subtask of subtasks.controls; let i = index"
    >
      <input
        type="checkbox"
        formControlName="isCompleted"
        (input)="onSelect(subtask.get('id')?.value)"
      />
      <span>{{ subtask.value.title }}</span>
    </label>
  </div>
  <div>
    <h5>Current Status</h5>
    <app-select
      [control]="$any(taskForm).get('columnId')"
      [columns]="columns"
    ></app-select>
  </div>
</form>
