<form *ngIf="currentTask && currentSubtasks" [formGroup]="taskForm">
  <div
    *ngIf="currentSubtasks.length > 0"
    class="mb-6 flex flex-col gap-2"
    formArrayName="subtasks"
  >
    <h5 class="mb-4 text-xs font-bold">
      Subtasks ({{ completedTasks }} of {{ subtasks.length }})
    </h5>
    <label
      class="flex cursor-pointer gap-4 rounded bg-light py-4 px-2"
      [formGroupName]="i"
      *ngFor="let subtask of subtasks.controls; let i = index"
    >
      <input
        type="checkbox"
        class="peer text-primary"
        formControlName="isCompleted"
        (input)="onToggle(subtask.get('id')?.value)"
      />
      <span
        class="text-xs font-bold text-black peer-checked:text-body peer-checked:line-through"
        >{{ subtask.value.title }}</span
      >
    </label>
  </div>
  <div>
    <h5 class="mb-4 text-xs font-bold">Current Status</h5>
    <app-select
      [control]="$any(taskForm).get('columnId')"
      [columns]="columns$ | async"
      (change)="onSelect()"
    ></app-select>
  </div>
</form>
