header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.6rem;
  background-color: var(--white);
  z-index: 999;
}

.navigation,
.actions {
  display: flex;
  align-items: center;
}

.navigation {
  gap: 1.6rem;
}

.logo-desktop {
  display: none;
}

.desktop-title {
  display: none;
}

.actions {
  gap: 0.8rem;
}

.nav-mobile-menu {
  position: absolute;
  top: calc(100% + 1.6rem);
  left: 54px;
  padding: 1.6rem 2.4rem;
  width: 280px;
  max-height: 70vh;
  background-color: var(--white);
  border-radius: 8px;
  overflow-x: hidden;
  box-shadow: 0 10px 20px rgba(54, 78, 126, 0.25);
}

button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.add-task-button span {
  display: none;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--black);
}

img.active {
  transform: rotate(180deg);
}

.menu-container {
  position: relative;
}

.menu-container button {
  padding: 0 0.8rem;
}

.show-sidebar {
  display: none;
  position: fixed;
  bottom: 32px;
  left: 0;
  padding: 1.8rem;
  background-color: var(--primary-color);
  border: unset;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: -2;
}

.show-sidebar:hover {
  background-color: var(--hover-primary-color);
}

.sidebar {
  display: none;
  position: fixed;
  top: 74px;
  bottom: 0;
  left: -300px;
  padding-left: 3.2rem;
  padding-top: 1.5rem;
  padding-bottom: 3.2rem;
  width: 300px;
  background-color: var(--white);
  z-index: -1;
  transition: 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.hide-sidebar {
  position: relative;
  gap: 1.5rem;
  padding-block: 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  text-transform: capitalize;
}

.hide-sidebar::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: translateX(-50px);
  z-index: -1;
}

.hide-sidebar:hover {
  color: var(--primary-color);
}

.hide-sidebar:hover svg path {
  fill: var(--primary-color);
}

.hide-sidebar:hover::before {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  header {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .navigation {
    gap: 6.4rem;
  }

  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .desktop-title {
    display: block;
  }

  .mobile-nav-button {
    display: none;
  }

  .nav-mobile-menu {
    display: none;
  }

  .add-task-button span {
    display: block;
  }

  .add-task-button img {
    display: none;
  }

  h1 {
    font-size: 2.4rem;
  }

  .show-sidebar {
    display: block;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
