<header>
  <div class="navigation">
    <a routerLink="/">
      <img src="/assets/images/logo-mobile.svg" alt="" class="logo-mobile" />
      <img src="/assets/images/logo-dark.svg" alt="" class="logo-desktop" />
    </a>

    <h1 *ngIf="currentBoard$; else defaultDesktopView" class="desktop-title">
      {{ currentBoard$.name }}
    </h1>
    <ng-template #defaultDesktopView>
      <h1 class="desktop-title">Select a board</h1>
    </ng-template>

    <button
      *ngIf="boards$?.length"
      type="button"
      (click)="headerService.onNavClick()"
      class="mobile-nav-button"
    >
      <h1 *ngIf="currentBoard$; else defaultMobileView">
        {{ currentBoard$.name }}
      </h1>
      <ng-template #defaultMobileView>
        <h1 class="mobile-nav-button">Select a board</h1>
      </ng-template>
      <img
        src="/assets/images/icon-chevron-down.svg"
        alt=""
        [ngClass]="{ active: headerService.showNav }"
      />
    </button>

    <div
      class="nav-mobile-menu"
      *ngIf="headerService.showNav && boards$?.length"
    >
      <app-nav-menu></app-nav-menu>
    </div>
  </div>
  <div class="actions">
    <app-button
      [buttonStyle]="['small']"
      (click)="headerService.onAddTaskClick()"
      [disabled]="!currentBoard$ || !currentBoard$.columns.length"
      class="add-task-button"
    >
      <img src="/assets/images/icon-add-task-mobile.svg" alt="" />
      <span>+ add new task</span>
    </app-button>

    <div class="menu-container">
      <button type="button" (click)="headerService.onMenuClick()">
        <img src="/assets/images/icon-vertical-ellipsis.svg" alt="" />
      </button>

      <app-menu
        *ngIf="headerService.showMenu && currentBoard$"
        type="board"
        (edit)="headerService.onEditClick(currentBoard$)"
        (delete)="headerService.onDeleteClick(currentBoard$)"
      ></app-menu>
    </div>
  </div>

  <button class="show-sidebar" (click)="headerService.onShowSidebarClick()">
    <img src="/assets/images/icon-show-sidebar.svg" alt="" />
  </button>

  <aside [ngClass]="{ sidebar: true, open: headerService.showSidebar }">
    <app-nav-menu></app-nav-menu>
    <button class="hide-sidebar" (click)="headerService.onHideSidebarClick()">
      <svg width="18" height="16" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.522 11.223a4.252 4.252 0 0 1-3.654-5.22l3.654 5.22ZM9 12.25A8.685 8.685 0 0 1 1.5 8a8.612 8.612 0 0 1 2.76-2.864l-.86-1.23A10.112 10.112 0 0 0 .208 7.238a1.5 1.5 0 0 0 0 1.524A10.187 10.187 0 0 0 9 13.75c.414 0 .828-.025 1.239-.074l-1-1.43A8.88 8.88 0 0 1 9 12.25Zm8.792-3.488a10.14 10.14 0 0 1-4.486 4.046l1.504 2.148a.375.375 0 0 1-.092.523l-.648.453a.375.375 0 0 1-.523-.092L3.19 1.044A.375.375 0 0 1 3.282.52L3.93.068a.375.375 0 0 1 .523.092l1.735 2.479A10.308 10.308 0 0 1 9 2.25c3.746 0 7.031 2 8.792 4.988a1.5 1.5 0 0 1 0 1.524ZM16.5 8a8.674 8.674 0 0 0-6.755-4.219A1.75 1.75 0 1 0 12.75 5v-.001a4.25 4.25 0 0 1-1.154 5.366l.834 1.192A8.641 8.641 0 0 0 16.5 8Z"
          fill="#828FA3"
        />
      </svg>
      hide sidebar
    </button>
  </aside>
</header>

<app-modal
  *ngIf="modalService.modal === currentBoard$?.id + ' board delete'"
  header="Delete this board?"
>
  <app-delete-menu (delete)="onDeleteClick()">
    Are you sure you want to delete the ‘{{ currentBoard$?.name }}’ board? This
    action will remove all columns and tasks and cannot be reversed.
  </app-delete-menu>
</app-modal>

<app-modal
  *ngIf="modalService.modal === currentBoard$?.id + ' board edit'"
  header="Edit Board"
  (dismiss)="modalService.closeModal()"
>
  <app-edit-board [boardId]="currentBoard$?.id"></app-edit-board>
</app-modal>

<app-modal
  *ngIf="modalService.modal === 'add-board'"
  header="Add New Board"
  (dismiss)="modalService.closeModal()"
>
  <app-add-board></app-add-board>
</app-modal>

<app-modal
  *ngIf="modalService.modal === 'add-task'"
  header="Add New Task"
  (dismiss)="modalService.closeModal()"
>
  <app-add-task [boardId]="currentBoard$?.id?.toString()"></app-add-task>
</app-modal>
