<header>
  <div class="navigation">
    <a routerLink="/">
      <img src="/assets/images/logo-mobile.svg" alt="" />
    </a>

    <button *ngIf="boards?.length" type="button" (click)="onNavClick()">
      <h1 *ngIf="currentBoard; else defaultView">
        {{ currentBoard.name }}
      </h1>
      <ng-template #defaultView>
        <h1>Select a board</h1>
      </ng-template>
      <img
        src="/assets/images/icon-chevron-down.svg"
        alt=""
        [ngClass]="{ active: showNav }"
      />
    </button>

    <div class="nav-menu" *ngIf="showNav && boards?.length">
      <p>all boards ({{ boards?.length }})</p>
      <nav>
        <a
          [routerLink]="['boards', board.id]"
          routerLinkActive="active"
          *ngFor="let board of boards"
        >
          <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0 2.889A2.889 2.889 0 0 1 2.889 0H13.11A2.889 2.889 0 0 1 16 2.889V13.11A2.888 2.888 0 0 1 13.111 16H2.89A2.889 2.889 0 0 1 0 13.111V2.89Zm1.333 5.555v4.667c0 .859.697 1.556 1.556 1.556h6.889V8.444H1.333Zm8.445-1.333V1.333h-6.89A1.556 1.556 0 0 0 1.334 2.89V7.11h8.445Zm4.889-1.333H11.11v4.444h3.556V5.778Zm0 5.778H11.11v3.11h2a1.556 1.556 0 0 0 1.556-1.555v-1.555Zm0-7.112V2.89a1.555 1.555 0 0 0-1.556-1.556h-2v3.111h3.556Z"
            />
          </svg>
          {{ board.name }}
        </a>
      </nav>
      <button class="new-board">
        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 2.889A2.889 2.889 0 0 1 2.889 0H13.11A2.889 2.889 0 0 1 16 2.889V13.11A2.888 2.888 0 0 1 13.111 16H2.89A2.889 2.889 0 0 1 0 13.111V2.89Zm1.333 5.555v4.667c0 .859.697 1.556 1.556 1.556h6.889V8.444H1.333Zm8.445-1.333V1.333h-6.89A1.556 1.556 0 0 0 1.334 2.89V7.11h8.445Zm4.889-1.333H11.11v4.444h3.556V5.778Zm0 5.778H11.11v3.11h2a1.556 1.556 0 0 0 1.556-1.555v-1.555Zm0-7.112V2.89a1.555 1.555 0 0 0-1.556-1.556h-2v3.111h3.556Z"
          />
        </svg>
        + create new board
      </button>
    </div>
  </div>
  <div class="actions">
    <app-button [buttonStyle]="['small']">
      <img src="/assets/images/icon-add-task-mobile.svg" alt="" />
    </app-button>

    <div class="menu-container">
      <button type="button" (click)="onMenuClick()">
        <img src="/assets/images/icon-vertical-ellipsis.svg" alt="" />
      </button>

      <app-menu
        *ngIf="showMenu"
        type="board"
        (edit)="onEditClick()"
        (delete)="onDeleteClick()"
      ></app-menu>
    </div>
  </div>
</header>
