:host {
  position: absolute;
  top: calc(100% + 1.6rem);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.8rem 1.6rem;
  width: 120px;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0 4px 6px var(--shadow);
}

button {
  padding-block: 1.2rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--black);
  background-color: unset;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
