label {
  font-size: 1.2rem;
  font-weight: 700;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input {
  padding: 0.8rem 1.6rem;
  width: 100%;
  font-size: 1.3rem;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

input:focus-visible {
  border-color: var(--body-text);
  outline: none;
}
