<div
  class="absolute inset-0 z-[999] flex items-center justify-center bg-[rgb(32,33,44,0.5)]"
  (click)="onDismissClick()"
>
  <div
    class="mx-4 max-h-[90%] w-full max-w-[480px] overflow-y-auto rounded-md bg-white p-6"
    (click)="$event.stopPropagation()"
  >
    <div class="mb-6 flex items-center justify-between">
      <h4 class="flex-1 text-lg font-bold text-black">{{ header }}</h4>
      <div class="relative" *ngIf="type === 'task'">
        <button type="button" class="px-2" (click)="showMenu = !showMenu">
          <img src="/assets/images/icon-vertical-ellipsis.svg" alt="" />
        </button>
        <app-menu
          *ngIf="showMenu"
          type="task"
          (edit)="onEditClick()"
          (delete)="onDeleteClick()"
        ></app-menu>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
