<ng-container *ngIf="task">
  <div class="task-container" (click)="showModal = true">
    <h3>
      {{ task.title }}
    </h3>
    <p *ngIf="task.subtasks.length > 0; else elseBlock">
      {{ completedTasks }} of {{ task.subtasks.length }} subtasks
    </p>
    <ng-template #elseBlock>
      <p>No subtasks</p>
    </ng-template>
  </div>

  <app-modal
    *ngIf="showModal"
    (dismiss)="showModal = false"
    [title]="task.title"
    type="task"
  >
    <p class="description">
      {{ task.description }}
    </p>

    <form [formGroup]="taskForm">
      <div class="checkbox-container" formArrayName="subtasks">
        <h5>Subtasks ({{ completedTasks }} of {{ subtasks.length }})</h5>
        <label
          [formGroupName]="i"
          *ngFor="let subtask of subtasks.controls; let i = index"
        >
          <input type="checkbox" formControlName="isCompleted" />
          <span>{{ subtask.value.title }}</span>
        </label>
      </div>
      <div>
        <h5>Current Status</h5>
        <select>
          <option
            *ngFor="let column of columns"
            [value]="column.name"
            [selected]="currentColumn === column.name"
          >
            {{ column.name }}
          </option>
        </select>
      </div>
    </form>
  </app-modal>
</ng-container>
