div {
  padding: 2.4rem 1.6rem;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--shadow);
  cursor: pointer;
}

h3 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}
