<ng-container *ngIf="task$ && subtasks$">
  <div
    class="group cursor-pointer rounded-lg bg-white py-6 px-4 shadow-md shadow-shadow"
    (click)="modalService.openModal(task$.id.toString())"
  >
    <h3
      class="mb-2 text-base font-bold text-black transition-colors group-hover:text-primary"
    >
      {{ task$.title }}
    </h3>
    <p class="text-xs font-bold" *ngIf="subtasks$.length > 0; else elseBlock">
      {{ completedTasks }} of {{ subtasks$.length }} subtasks
    </p>
    <ng-template #elseBlock>
      <p>No subtasks</p>
    </ng-template>
  </div>

  <app-modal
    *ngIf="modalService.modal === task$.id.toString()"
    (dismiss)="modalService.closeModal()"
    [header]="task$.title"
    type="task"
    [id]="task$.id.toString()"
  >
    <p class="mb-6 text-sm font-medium">
      {{ task$.description }}
    </p>

    <app-task-form
      [currentTask]="task$"
      [currentSubtasks]="subtasks$"
      [currentColumnId]="currentColumnId"
      [completedTasks]="completedTasks"
    ></app-task-form>
  </app-modal>

  <app-modal
    *ngIf="modalService.modal === taskId + ' task delete'"
    header="Delete this task?"
  >
    <app-delete-menu (delete)="onDelete()">
      Are you sure you want to delete the ‘{{ task$.title }}’ task and its
      subtasks? This action cannot be reversed.
    </app-delete-menu>
  </app-modal>

  <app-modal
    *ngIf="modalService.modal === taskId + ' task edit'"
    header="Edit task"
    (dismiss)="modalService.closeModal()"
  >
    <app-edit-task
      [currentTask]="task$"
      [currentSubtasks]="subtasks$"
    ></app-edit-task>
  </app-modal>
</ng-container>
