<app-empty
  *ngIf="!columns$?.length; else columnContainer"
  content="This board is empty. Create a new column to get started"
>
  <app-button
    [primary]="true"
    [standard]="true"
    (click)="modalService.openModal('add-column')"
    >+ add new column</app-button
  >
</app-empty>

<ng-template #columnContainer>
  <div class="flex min-h-full flex-nowrap gap-6" cdkDropListGroup>
    <article class="flex-[0_0_280px]" *ngFor="let column of columns$">
      <h2 class="mb-6 text-xs font-bold uppercase tracking-widest">
        {{ column.name }}
      </h2>

      <app-tasks-container [column]="column"></app-tasks-container>
    </article>
    <button
      class="mb-6 flex-[0_0_280px] cursor-pointer rounded-md bg-light-blue text-2xl font-bold capitalize text-body transition hover:text-primary"
      (click)="modalService.openModal('add-column')"
    >
      + new column
    </button>
  </div>
</ng-template>

<app-modal
  *ngIf="modalService.modal === 'add-column'"
  header="Add New Column"
  (dismiss)="modalService.closeModal()"
>
  <app-add-column [boardId]="boardId"></app-add-column>
</app-modal>
