.column-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.4rem;
}

article {
  flex: 0 0 280px;
}

h2 {
  margin-bottom: 2.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.4rem;
}
