:host nav {
  display: flex;
  flex-direction: column;
}

:host a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding-block: 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--body-text);
  text-decoration: none;
  z-index: 1;
}

:host a svg path {
  fill: var(--body-text);
}

:host a.active {
  color: var(--white);
}

:host a:not(.active):hover {
  color: var(--primary-color);
}

:host a.active svg path {
  fill: var(--white);
}

:host a:not(.active):hover svg path {
  fill: var(--primary-color);
}

:host a.active::before,
:host a:hover::before,
.new-board::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: translateX(-50px);
  z-index: -1;
}

:host a.active::before {
  background-color: var(--primary-color);
}

:host a:not(.active):hover::before,
.new-board:hover::before {
  background-color: var(--secondary-color);
}

:host p {
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.new-board {
  position: relative;
  gap: 1.2rem;
  padding-block: 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: capitalize;
}

.new-board svg path {
  fill: var(--primary-color);
}

button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}
