:host {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
  width: 100%;
}

:host.list {
  margin-bottom: 0;
}

label {
  font-size: 1.2rem;
  font-weight: 700;
}

input,
textarea {
  padding: 0.8rem 1.6rem;
  width: 100%;
  font-size: 1.3rem;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

textarea {
  height: 90px;
  line-height: 1.5;
  resize: none;
}

input:focus-visible,
textarea:focus-visible {
  border-color: var(--body-text);
  outline: none;
}

input:placeholder {
  color: var(--placeholder-text);
}
