@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("assets/fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("assets/fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 62.5%;
  --primary-color: #635fc7;
  --hover-primary-color: #a8a4ff;
  --secondary-color: #f0effa;
  --hover-secondary-color: #d8d7f1;
  --danger-color: #ea5555;
  --hover-danger-color: #ff9898;
  --white: #fff;
  --black: #000112;
  --light-bg: #f4f7fd;
  --dark-bg: #20212c;
  --body-text: #828fa3;
  --shadow: rgba(54, 78, 126, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", Arial, sans-serif;
  font-weight: 500;
  color: var(--body-text);
  background-color: var(--light-bg);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
}
